/* App */

.App {
  background-color: #f8f9fa;
  /* margin: 0px;
  padding: 0px;
  width: 100vw;   */
}

/* MyHeader */

.MyHeader {
  width: 100%;
  height: 20vh;

  padding-bottom: 1vw;
}

.header_info {
  width: 100%;

  padding-top: 1vh;
  padding-bottom: 1vh;

  display: flex;
  align-items: center;
}

.header_logo {
  line-height: 100%;
  width: 15%;

  padding-left: 1vw;


  display: flex;
  justify-content: flex-start;
}

.header_logo img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 50px;
  vertical-align: middle;
  border: 1px solid black;
}

.header_search_bar {
  text-align: center;
  width: 70%;
}

.header_search_bar input {
  width: 50%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}


.header_profile_menu {
  width: 15%;
  
  padding-right: 1vw;

  display: flex;
  justify-content: flex-end;
}

.header_profile_image {
  /* width: 100%; */
  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: 1px solid black; 
}

/* .header_profile_image:after {
  content: "";
  display: block;
  padding-bottom: 100%;
} */


/* HeaderMenu */

.HeaderMenu {
  width: 100%;
  min-height: 40px;
  background-color: #ececec;
}

/* Main - Menu */

.Menu {
  position: relative;
  width: 100%;
}

.MenuSection_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Main - MenuSection */

.MenuSection {
  width: calc(50% - 40px);
  height: 300px;
  padding: 20px;
  background-color: #ececec;
}

.MenuSection .menu {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

.menu > div .menu_title {
  font-weight: bold;
  font-size: 18px;
  
  padding-bottom: 20px;
}

.menu_left_top > div {
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(0%, 0%);

  text-align: start;
}

.menu_right_top > div {
  position: absolute;
  top: 5%;
  right: 5%;
  transform: translate(0%, 0%);

  text-align: end;
}

.menu_left_bottom > div {
  position: absolute;
  bottom: 5%;
  left: 5%;
  transform: translate(0%, 0%);

  text-align: start;
}

.menu_right_bottom > div {
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: translate(0%, 0%);

  text-align: end;
}

/* Main - MenuRecommend */

.MenuRecommend {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30%;
  border-radius: 50%;

  z-index: 1;

  background-color: grey;
}

.MenuRecommend:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* Page - Login */

.Login {
  width: 100%;
  height: 80vh;

  display: flex;
}

.login_poster_wrapper {
  width: 50%;
  height: 100%;
}

.login_poster_wrapper img {
  width: 100%;
  height: 100%;
}

.login_form_wrapper {
  width: 50%;
  height: 100%;
  position: relative;
}

/* Page - SignUp */

.SignUp {
  width: 100%;
  height: 80vh;
}

@media (min-width: 768px) {

  .SignUp .big_screen {
    width: 100%;
    height: 100%;

    display: flex;
  }

  .signup_poster_wrapper {
    width: 50%;
    height: 100%;
  }

  .signup_poster_wrapper img {
    width: 100%;
    height: 100%;
  }

  .signup_form_wrapper {
    width: 50%;
    height: 100%;
    position: relative;
  }
}

@media (max-width: 768px) {
  .SignUp .small_screen {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

/* Pages - Profile */

.Profile {
  width: 100%;
  height: 100%;
  background-color: #ececec;
  border-radius: 1vw;
  padding: 1vw;
}

.profile_user_box {
  width: 100%;
  height: 20%;
  background-color: white;

  padding: 1vw;
  margin: 0 auto;
  margin-bottom: 5vh;

  border-radius: 0.5vw;

  display: flex;
  align-items: center;
}

.profile_user_image {
  width: 20%;
  min-width: 200px;
}

.profile_user_image img {
  width: 100%;
}

.profile_user_image img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.profile_user_profile {
  width: 80%;
}

.profile_user_name_box {
  padding-bottom: 3vh;
}

.profile_user_name {
  margin-right: 1vw;
}

.profile_nav {
  width: calc(100% - 0.5vw);
  /* width: 100%; */
}

.profile_dashboard {
  padding: 1vw;
  background-color: white;

  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  
  border-top-right-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
}

.profile_dashboard_category {
  font-size: large;
  font-weight: bold;
}

/* Pages - Edit */

.Edit {
  width: 100%;
  height: 100%;
  background-color: #ececec;
  border-radius: 1vw;
  padding: 1vw;
}

.edit_user_box {
  width: 100%;
  height: 20%;
  background-color: white;

  padding: 1vw;
  margin: 0 auto;
  margin-bottom: 5vh;

  border-radius: 0.5vw;

  display: flex;
  align-items: center;
}

.edit_user_image {
  width: 20%;
  min-width: 200px;
}

.edit_user_image img {
  width: 100%;
}

.edit_user_image img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.edit_user_profile {
  width: 80%;
}

.edit_user_name_box {
  padding-bottom: 3vh;
}

.edit_user_name {
  margin-right: 1vw;
}

.edit_nav {
  width: calc(100% - 0.5vw);
  /* width: 100%; */
}

.edit_nav ul {
  border: transparent;
}

.nav-tabs .nav-link {
  border: 0px;
}

.edit_user_info {
  padding: 1vw;
  background-color: white;

  /* border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6; */
  
  border-top-right-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
}

.edit_user_info_wrapper {
  padding: 1vw;
  background-color: #ececec;
  border-radius: 0.5vw;
}

.edit_user_info_box {
  padding: 1vw;
  background-color: white;
  border-radius: 0.4vw;
}

.edit_user_profile_image_change_box {
  display: flex;
  align-items: center;
}

/* Forms */

/* Forms - LoginForm */

.LoginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 80%;

  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;

  border-radius: 30px;
  background-color: #ececec;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 27px 0px;
}

.login_form_title {
  text-align: center;
  
  padding-bottom: 30px;
}

.login_form_username {
  display: flex;
  align-items: center;

  padding-bottom: 10px;
}

.login_form_username svg {
  padding-right: 20px;
}


.login_form_password {
  display: flex;
  align-items: center;

  padding-bottom: 20px;
}

.login_form_password svg {
  padding-right: 20px;
}

.login_form_button {
  padding-bottom: 10px;
}


.login_form_button button {
  width: 100%;
}

.login_form_option_line {
  display: flex;
  width: 100%;
  align-items: center;

  padding-bottom: 10px;
}

.login_form_option_line .line {
  width: 40%;
  border: 0;
  height: 2px;
  background-color: grey;
}

.login_form_option_line .text {
  width: 20%;
  text-align: center;
  color: grey;
}

/* Forms - LoginForm */

.SignUpForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 80%;

  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;

  border-radius: 30px;
  background-color: #ececec;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 27px 0px;
}

.signup_form_title {
  text-align: center;
  
  padding-bottom: 30px;
}

.signup_form_input {
  display: flex;
  align-items: center;

  padding-bottom: 10px;
}

.signup_form_input svg {
  padding-right: 20px;
}

.signup_form_button_wrapper {
  padding-top: 40px;

  display: flex;
  flex-direction: column;
}

.signup_form_button {
  padding-bottom: 10px;
}

.signup_form_button button {
  width: 100%;
}